@if (Request.IsAuthenticated)//ต้องกำหนดใน webconfig ด้วย
{

    //Config
    ViewBag.Title = "News";
    Layout = "~/Views/_LayoutBackend.cshtml";
    //End Config

    Git_system.Models.BackendLayout.BackendMenuLayout BackendMenuLayout = new Git_system.Models.BackendLayout.BackendMenuLayout();
    BackendMenuLayout.E_serviceMain = "active";
    BackendMenuLayout.E_service.BenefitSetting = "active";
    ViewBag.BackendMenuLayout = BackendMenuLayout;

    @model IEnumerable<Git_system.Models.Benefit>

    //body
    @section HeadSection {
        <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    }

    <section role="tabpanel" class="panel" style="border-width:0;">
        @using (Html.BeginForm("Home", null))
        {
            @Html.AntiForgeryToken()
            Git_system.Models.Benefit[] benefits = Model.ToArray();
            <header class="panel-heading">สิทธิประโยชน์</header>
            <div class="row">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs nav-justified panel-heading" role="tablist">
                    <li role="presentation" class="active"><a href="#OrdinaryPerson" aria-controls="home" role="tab" data-toggle="tab">บุคคลธรรมดา</a></li>
                    <li role="presentation" class=""><a href="#JuristicPerson" aria-controls="profile" role="tab" data-toggle="tab">นิติบุคคล</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="col-lg-12">

                    <div class="tab-content panel-body">
                        @for (int i = 0; i < benefits.Count(); i++)
                        {
                            switch (benefits[i].Id)
                            {
                                case 1:
                                    <div role="tabpanel" class="tab-pane active" id="OrdinaryPerson">

                                        <fieldset accept-charset="utf-8" class="form-horizontal" role="form">
                                            @Html.TextBoxFor(item => benefits[i].Id, new { @class = "form-control hidden", @readonly = "true" })

                                            <div class="form-group">
                                                <label class="control-label col-sm-2">ข้อความ</label>
                                                <div class="col-sm-10">
                                                    @Html.TextAreaFor(item => benefits[i].DetailTH, new { @class = "form-control ckeditor", @rows = "4" })
                                                    @Html.ValidationMessageFor(item => benefits[i].DetailTH)
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2">ข้อความ ภาษาอังกฤษ</label>
                                                <div class="col-sm-10">
                                                    @Html.TextAreaFor(item => benefits[i].DetailEN, new { @class = "form-control ckeditor", @rows = "4" })
                                                    @Html.ValidationMessageFor(item => benefits[i].DetailEN)
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    break;
                                case 2:
                                <div role="tabpanel" class="tab-pane" id="JuristicPerson">

                                    <fieldset accept-charset="utf-8" class="form-horizontal" role="form">
                                        @Html.TextBoxFor(item => benefits[i].Id, new { @class = "form-control hidden", @readonly = "true" })

                                        <div class="form-group">
                                            <label class="control-label col-sm-2">ข้อความ</label>
                                            <div class="col-sm-10">
                                                @Html.TextAreaFor(item => benefits[i].DetailTH, new { @class = "form-control ckeditor", @rows = "4" })
                                                @Html.ValidationMessageFor(item => benefits[i].DetailTH)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-sm-2">ข้อความ ภาษาอังกฤษ</label>
                                            <div class="col-sm-10">
                                                @Html.TextAreaFor(item => benefits[i].DetailEN, new { @class = "form-control ckeditor", @rows = "4" })
                                                @Html.ValidationMessageFor(item => benefits[i].DetailEN)
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                    break;
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button id="ButtonSubmit" class="hidden" type="submit">Check and Save</button>
                <button type="button" class="btn btn-git-default btn-block" data-toggle="modal" data-target=".bs-modal-sm" onclick="ChangeNameForButton('ButtonSubmit')">Save</button>
            </div>
        }
    </section>

//<!-- /.modal-content -->
    <div class="modal fade bs-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h5 class="modal-title text-center" id="myModalLabel">ยืนยันการบันทึก</h5>
                </div>
                <div class="modal-body">
                    <span>คุณต้องการที่จะบันทึก?</span>
                </div>
                <div class="modal-footer">
                    <button id="ButtonSubmitForModal" type="submit" class="btn btn-git-default btn-sm" name="ButtonSubmit" onclick="ClickToButton(this.name)">Save</button>
                </div>
            </div>
        </div>
    </div>
    @section BodySection_Page_level_scripts {
        <script>
            //เพิ่ม class ที่ทำให้ validation-error เป็นสี แดง โดยใช้ class text-danger
            $(".field-validation-error").addClass("text-danger");
        </script>

    }
}
else
{
    <script type="text/javascript">
        window.location.href = "@Url.Action("index", "Backend")";
    </script>
}