@model Git_system.Models.Form.Backend_LoginModel

@{

}
<html class="signin no-js" lang="">
<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <meta name="robots" content="noindex, nofollow" />
    <!-- /meta -->
    <title>Sign in</title>

    @Styles.Render("~/Content/BackendMain")
    <link rel="stylesheet" href="~/Content/GitStyle.css" />

    <!-- template styles -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- load modernizer -->
    @Styles.Render("~/Scripts/BackendMain")
</head>
<body class="bg-color center-wrapper">
    <div class="center-content">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                    <section class="panel panel-default">
                        <header class="panel-heading">
                            <img src="~/Images/GIT_Headder_New.png" class="img-responsive display-inline" />
                        </header>
                        <div class="bg-white user pd-md">
                            @using (Html.BeginForm(new { }))
                            {
                                <fieldset>
                                    <div>
                                        @*<input type="text" class="form-control mg-b-sm" placeholder="Username" autofocus>*@
                                        @Html.TextBoxFor(model => model.UserName, new { @class = "form-control mg-b-sm", @placeholder = "Username", @autofocus = true })
                                        @Html.ValidationMessageFor(model => model.UserName)
                                    </div>
                                    <div>
                                        @*<input type="password" class="form-control" placeholder="Password">*@
                                        @Html.PasswordFor(model => model.Passwoed, new { @class = "form-control", @placeholder = "Password", @autocomplete = "off" })
                                        @Html.ValidationMessageFor(model => model.Passwoed)
                                    </div>
                                    <div style="color:red;">
                                        @Html.ValidationSummary(true)
                                    </div>
                                    <div class="text-right mg-b-sm mg-t-sm">
                                        @*@Html.ActionLink("Forgot password?", "#")*@
                                    </div>
                                    <input class="btn btn-block btn-git-default" type="submit" value="Sign in" />
                                </fieldset>
                            }
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</body>
</html>