@model Git_system.Models.Slideshow

@Html.HiddenFor(model => model.Id, new { @class = "hidden" })

@{
    var imageUrl = Model.getImageUrl();
    if (imageUrl != "")
    {
        <div class="" style="margin-bottom:15px;">
            <img style="width:100%; max-height:400px;" class="img-responsive" src="@imageUrl" alt="">
        </div>
    }
}
<div class="form-group" id="DemoFileDownload">
    <label class="col-sm-2  control-label">รูปภาพ</label>
    <div class="col-sm-10">
        <input id="Image" name="Image" class="file" type="file">
        @Html.ValidationMessageFor(model => model.Image, null, new { @class = "text-danger" })
        <span class="text-danger">1200px x 400px</span>
    </div>
</div>

@{
    var stTh = Model.getSlideshowTranslate("th");
    var stEn = Model.getSlideshowTranslate("en");
}

@Html.HiddenFor(model => stTh.Id, new { @class = "hidden" })
@Html.HiddenFor(model => stTh.Language_code, new { @class = "hidden" })
@Html.HiddenFor(model => stTh.SlideshowId, new { @class = "hidden" })
@Html.HiddenFor(model => stEn.Id, new { @class = "hidden" })
@Html.HiddenFor(model => stEn.Language_code, new { @class = "hidden" })
@Html.HiddenFor(model => stEn.SlideshowId, new { @class = "hidden" })
<div class="form-group">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4  control-label">ชื่อ</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => stTh.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => stTh.Title, null, new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4  control-label">ชื่อ (อังกฤษ)</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => stEn.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => stEn.Title, null, new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4  control-label">คำบรรยาย</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => stTh.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => stTh.Title, null, new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label class="col-sm-4  control-label">คำบรรยาย (อังกฤษ)</label>
            <div class="col-sm-8">
                @Html.TextBoxFor(model => stEn.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => stEn.Title, null, new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>

<div class="form-group" id="DemoFileDownload">
    <label class="col-sm-2  control-label">ลิ๊งค์</label>
    <div class="col-sm-10">
        @Html.TextBoxFor(model => model.Link, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Link, null, new { @class = "text-danger" })
    </div>
</div>