@if (Request.IsAuthenticated)//ต้องกำหนดใน webconfig ด้วย
{

    @model IEnumerable<Git_system.Models.Log>

    //Config
    ViewBag.Title = "บันทึกการใช้งาน";
    Layout = "~/Views/_LayoutBackend.cshtml";
    //End Config

    Git_system.Models.BackendLayout.BackendMenuLayout BackendMenuLayout = new Git_system.Models.BackendLayout.BackendMenuLayout();
    BackendMenuLayout.AdminAndSecurityMain = "active";
    BackendMenuLayout.AdminAndSecurity.Logs = "active";
    ViewBag.BackendMenuLayout = BackendMenuLayout;

    //body
    @section HeadSection {
        @Styles.Render("~/Content/responsive-tables")
        @Styles.Render("~/Content/DataTable_exprot")

    }
    <section class="panel">
        <header class="panel-heading">บันทึกการใช้งาน</header>
        <div class="panel-body">
            <div class="no-more-tables">
                <table class="table table-bordered table-striped table-condensed dataTable">
                    <thead>
                        <tr>
                            <th>
                                ลำดับ
                            </th>
                            <th>
                                ผู้ใช้
                            </th>
                            <th>
                                การใช้งาน
                            </th>
                            <th>
                                วันและเวลา
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td data-title="ลำดับ" class="text-center"></td>
                                <td data-title="ผู้ใช้">
                                    @Html.DisplayFor(showitem => item.Username)
                                </td>
                                <td data-title="การใช้งาน">
                                    @Html.DisplayFor(showitem => item.Massage)
                                </td>
                                <td data-title="วันและเวลา">
                                    @Convert.ToDateTime(item.Date).ToString(("dd/MM/yyyy HH:mm:ss"))
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <footer class="panel-footer">
            <div class="text-center">
                <button type="button" class="btn btn-git-default" data-toggle="modal" data-target=".bs-modal-sm">Clear all</button>
            </div>
        </footer>
    </section>

                        //
                        <div class="modal fade bs-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h5 class="modal-title text-center" id="myModalLabel">Delete log file.</h5>
                                    </div>
                                    <div class="modal-body">
                                        <span>Are you sure you want to delete?</span>
                                    </div>
                                    <div class="modal-footer">
                                        @using (Html.BeginForm())
                                        {
                                            @Html.AntiForgeryToken()

                                            <button type="submit" class="btn btn-git-default btn-sm">Delete</button>
                                        }
                                    </div>
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>

                        @section BodySection_Page_level_scripts {
                            @Scripts.Render("~/Scripts/responsive-tables")
                            @Scripts.Render("~/Scripts/DataTable_exprot_Custom")
                        }

                        @section BodySection_Template_scripts {

                            <script>
                                $.extend($.fn.dataTable.defaults, {
                                    "displayLength": 30,//number entity in table
                                    "ordering": false,
                                    "info": false
                                });

                                $(document).ready(function () {
                                    var t = $('.dataTable').DataTable({
                                        "dom": '<"row"<"col-sm-6" T><"col-sm-6" f>>rtip',//l is entity
                                        "tableTools": {
                                            "sSwfPath": "/Scripts/DataTable/TableTool/swf/copy_csv_xls_pdf.swf",
                                            "aButtons": [
                                                            {
                                                                "sExtends": "copy",
                                                                "sButtonClass": "hidden"
                                                            },
                                                            {
                                                                "sExtends": "xls",
                                                                "oSelectorOpts": { filter: 'applied', order: 'current' }
                                                            },
                                                            {
                                                                "sExtends": "pdf",
                                                                "sButtonClass": "hidden"
                                                            },
                                                            "print"
                                            ],
                                            "columnDefs": [{
                                                "searchable": false,
                                                "orderable": false,
                                                "targets": 0
                                            }],
                                            "order": [[1, 'asc']]
                                        }
                                    });

                                    t.on('order.dt search.dt', function () {
                                        t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                                            cell.innerHTML = i + 1;
                                        });

                                        t.column(0).nodes().each(function (cell, i) {
                                            if (cell.isConnected)
                                                t.data()[i][0] = cell.innerHTML;
                                        });

                                    }).draw();
                                });
                            </script>
                        }
}
else
{
    <script type="text/javascript">
        window.location.href = "@Url.Action("index", "Backend")";
    </script>
}