@using Git_system.MultiResources
@using Git_system.Models;
@{

    //Config
    ViewBag.Title = Multi.History;
    Layout = "~/Views/_LayoutFrontendECom.cshtml";
    //End Config

    @section BodySection_Core_styles {
        <script src="~/Scripts/angular/libsBundle.min.js"></script>
        <link rel="stylesheet" href="~/Scripts/angular/ngTable/ng-table.min.css" />
        <script src="~/Scripts/angular/eComApp/eComBundle.js"></script>

        <style>
            /*Custom*/
            table.git-table-style th {
                vertical-align: middle !important;
                text-align: center;
            }

            table.git-table-style td, th {
                vertical-align: middle !important;
            }

            table.git-table-style thead {
                background-color: #efefef;
                color: #2b3c94;
            }

            table.git-table-style thead, tbody, thead > tr > th {
                /*border: 2px solid #ddd;*/
                border-bottom: 2px none #ddd !important;
            }

            table.git-table-style tbody tr > td {
                border: 2px none #ddd;
                /*border-left: 2px solid #ddd;
                border-right: 2px solid #ddd;*/
            }

            table.git-table-style tbody tr.group {
                /*border-top: 2px solid #ddd;*/
            }

            table.git-table-style tbody tr.odd {
                background-color: #fff;
            }

            table.git-table-style tbody tr.even {
                background-color: #BFE2FF;
            }

            .table-responsive {
                border: 1px none #ddd !important;
            }
        </style>

        <style>
            .ng-table-pager {
                float: right;
            }
        </style>

    }
    <div class="row" ng-app="eComApp" ng-controller="OrderHistoryCtrl">
        <div ng-if="loadObject.status" class="text-center">
            <div class="sk-cube-grid">
                <div class="sk-cube sk-cube1"></div>
                <div class="sk-cube sk-cube2"></div>
                <div class="sk-cube sk-cube3"></div>
                <div class="sk-cube sk-cube4"></div>
                <div class="sk-cube sk-cube5"></div>
                <div class="sk-cube sk-cube6"></div>
                <div class="sk-cube sk-cube7"></div>
                <div class="sk-cube sk-cube8"></div>
                <div class="sk-cube sk-cube9"></div>
            </div>
            <span ng-bind="loadObject.message"></span>
        </div>
        <div ng-show="NotLogin" ng-init="NotLogin = false" class="ng-hide">
            <div class="col-sm-16 col-sm-offset-4 col-md-12 col-md-offset-6">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="form-label col-sm-6 col-lg-4">@Multi._IndexString1</label>
                        <div class="col-sm-18 col-lg-20">
                            <input autofocus class="form-control input-sm" name="Email" placeholder="Email" ng-model="loginEmail" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label col-sm-6 col-lg-4">@Multi._IndexString2</label>
                        <div class="col-sm-18 col-lg-20">
                            <input class="form-control input-sm" name="Password" placeholder="Password" ng-model="loginPassword" type="password" required>
                            <span class="text-danger">
                                {{loginValidationMessage}}
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-8 col-xs-8 pull-right">
                            <button class="btn btn-git-default btn-block pull-right" ng-click="logInFn()">@Multi._Button_Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="!loadObject.status && !NotLogin" class="ng-hide">
            <!--header-->
            <div class="col-md-24 col-sm-24 col-xs-24">
                <img src="~/Images/order-history-01.png" style="width:37px;height:37px;" />&nbsp;&nbsp;&nbsp;<label class="font-size-20">@Multi.History</label>
            </div>
            <!--table-->
            <div class="col-md-24 col-sm-24 col-xs-24 height-minnest"></div>
            <div id="no-more-tables" ng-if="orderHistory.length > 0" class="col-md-24 table-responsive">
                <table ng-table="tableParams" class="table git-table-style" show-filter="true">
                    <thead>
                        <tr>
                            <th class="purple-text text-center">@Multi.Order_number</th>
                            <th class="purple-text text-center">@Multi.Price</th>
                            <th class="purple-text text-center">@Multi.Date</th>
                            <th class="purple-text text-center">@Multi.Status</th>
                            <th class="purple-text text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in $data" ng-class-even="even" ng-class-odd="odd" ng-class="{even: $even, odd: $odd}">
                            <td>
                                {{item.Id}}
                            </td>
                            <td align="right" data-title="@Multi.Price" class="text-nowrap">
                                <span class="text-git-style-bold" ng-bind-html="item.Price | eComCurrency:{Currency:item.Currency, isLocal:@Html.Raw(Multi.__LanguageType.Equals("TH").ToString().ToLower())}"></span>
                            </td>
                            <td align="center" data-title="@Multi.Date" class="text-nowrap">{{item.Datetime | date:"d MMM yyyy hh:mm a"}}</td>
                            <td data-title="@Multi.Status">{{item.PaymentProcessStatus.Name}}</td>
                            <td data-title="">
                                <a href="" title="" ng-show="item.PaymentProcessStatusId != 3" ng-href="@Url.Action("ProductConfirmPayment","Home",null)#/?OrderId={{item.Id}}">@Multi.Confirm</a>
                                <a href="" title="" ng-href="@Url.Action("ProductOrderHistoryDetail","Home",null)#/?OrderId={{item.Id}}">@Multi.Detail</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                @*<table ng-table="tableParams" class="table" show-filter="true">
                        <tr ng-repeat="user in $data">
                            <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
                                {{user.name}}
                            </td>
                            <td title="'Age'" filter="{ age: 'number'}" sortable="'age'">
                                {{user.age}}
                            </td>
                        </tr>
                    </table>*@
            </div>

            <div ng-if="orderHistory.length == 0">
                <div class="col-sm-22 col-sm-offset-1 font-size-18">
                    @Multi.No_data
                </div>
            </div>
            <!--button-->
            <div class="col-md-6 col-sm-6 col-xs-12 pagination-right paragraph-extra">
                @Html.ActionLink(Multi._Button_BackToHome, "ProductView", null, new { @class = "btn btn-git-default btn-block" })
            </div>
        </div>
    </div>

    @section BodySection_Core_scripts {
    }
    @section BodySection_Page_level_scripts {

    }
    @section BodySection_Template_scripts {

    }
}