@using Git_system.MultiResources
@using Git_system.Models;
@{

    //Config
    ViewBag.Title = Multi.History;
    Layout = "~/Views/_LayoutFrontendECom.cshtml";
    //End Config

    @section BodySection_Core_styles {
        <script src="~/Scripts/angular/libsBundle.min.js"></script>
        <link rel="stylesheet" href="~/Scripts/angular/ngTable/ng-table.min.css" />

        <script src="~/Scripts/angular/eComApp/eComBundle.js"></script>

        <style>
            /*Custom*/
            table.git-table-style th {
                vertical-align: middle !important;
                text-align: center;
            }

            table.git-table-style td, th {
                vertical-align: middle !important;
            }

            table.git-table-style thead {
                background-color: #efefef;
                color: #2b3c94;
            }

            table.git-table-style thead, tbody, thead > tr > th {
                /*border: 2px solid #ddd;*/
                border-bottom: 2px none #ddd !important;
            }

            table.git-table-style tbody tr > td {
                border: 2px none #ddd;
                /*border-left: 2px solid #ddd;
                border-right: 2px solid #ddd;*/
            }

            table.git-table-style tbody tr.group {
                /*border-top: 2px solid #ddd;*/
            }

            table.git-table-style tbody tr.odd {
                background-color: #fff;
            }

            table.git-table-style tbody tr.even {
                background-color: #BFE2FF;
            }

            .table-responsive {
                border: 1px none #ddd !important;
            }
        </style>
    }
    <div class="row" ng-app="eComApp" ng-controller="OrderHistoryDetailCtrl">
        <div ng-if="loadObject.status" class="text-center">
            <div class="sk-cube-grid">
                <div class="sk-cube sk-cube1"></div>
                <div class="sk-cube sk-cube2"></div>
                <div class="sk-cube sk-cube3"></div>
                <div class="sk-cube sk-cube4"></div>
                <div class="sk-cube sk-cube5"></div>
                <div class="sk-cube sk-cube6"></div>
                <div class="sk-cube sk-cube7"></div>
                <div class="sk-cube sk-cube8"></div>
                <div class="sk-cube sk-cube9"></div>
            </div>
            <span ng-bind="loadObject.message"></span>
        </div>
        <div ng-show="NotLogin" ng-init="NotLogin = false" class="ng-hide">
            <div class="col-sm-16 col-sm-offset-4 col-md-12 col-md-offset-6">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="form-label col-sm-6 col-lg-4">@Multi._IndexString1</label>
                        <div class="col-sm-18 col-lg-20">
                            <input autofocus class="form-control input-sm" name="Email" placeholder="Email" ng-model="loginEmail" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label col-sm-6 col-lg-4">@Multi._IndexString2</label>
                        <div class="col-sm-18 col-lg-20">
                            <input class="form-control input-sm" name="Password" placeholder="Password" ng-model="loginPassword" type="password" required>
                            <span class="text-danger">
                                {{loginValidationMessage}}
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-8 col-xs-8 pull-right">
                            <button class="btn btn-git-default btn-block pull-right" ng-click="logInFn()">@Multi._Button_Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="!loadObject.status && !NotLogin" class="ng-hide">
            <!--header-->
            <div class="col-md-24 col-sm-24 col-xs-24">
                <img src="~/Images/order-history-01.png" style="width:37px;height:37px;" />&nbsp;&nbsp;&nbsp;<label class="font-size-20">@Multi.History</label>
            </div>
            <!--table-->
            <div class="col-md-24 col-sm-24 col-xs-24 height-minnest"></div>
            <div id="no-more-tables" ng-if="orderDetail.OrderItem.length > 0" class="col-md-24 table-responsive">
                <table class="table git-table-style">
                    <thead>
                        <tr>
                            <th class="purple-text text-center">@Multi.Product_id</th>
                            <th class="purple-text text-center">@Multi.Product_name</th>
                            <th class="purple-text text-center">@Multi.Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in orderDetail.OrderItem" ng-class-even="even" ng-class-odd="odd" ng-class="{even: $even, odd: $odd}">
                            <td data-title="@Multi.Product_id" align="center" class="text-nowrap">{{item.Id}}</td>
                            <td data-title="@Multi.Product_name" align="center" class="text-nowrap">{{item.Product.Name}}</td>
                            <td data-title="@Multi.Quantity" align="center" class="text-nowrap">{{item.Quantity}}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="pull-right">
                    <strong class="text-git-style-bold" ng-bind-html="orderDetail.Price | eComCurrency:{Currency:orderDetail.Currency, isLocal:@Html.Raw(Multi.__LanguageType.Equals("TH").ToString().ToLower())}">
                    </strong>
                </div>
            </div>

            <div ng-if="orderDetail.OrderItem.length == 0">
                <div class="col-sm-22 col-sm-offset-1 font-size-18">
                    @Multi.No_data
                </div>
            </div>            <!--pharse 1-->
            <div class="col-md-12 col-sm-12 col-xs-24 form-horizontal formMin" ng-init="editDeliverAddress = false">
                <label class="height-minnest">@Multi.Delivery_payment</label><br />
                <div class="form-group">
                    <label for="" class="col-md-8">@Multi.Fullname</label>
                    <div class="col-md-16"><input type="text" class="form-control input-sm" ng-model="orderDetail.SendFullname" disabled></div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-8">@Multi.Address</label>
                    <div class="col-md-16"><input type="text" class="form-control input-sm" ng-model="orderDetail.SendAddress" disabled></div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-8">@Multi.Province</label>
                    <div class="col-md-16"><input type="text" class="form-control input-sm" ng-model="orderDetail.SendProvince" disabled></div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-8">@Multi.Country</label>
                    <div class="col-md-16"><input type="text" class="form-control input-sm" ng-model="orderDetail.SendCountry" disabled></div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-8">@Multi.Postcode</label>
                    <div class="col-md-16"><input type="text" class="form-control input-sm" ng-model="orderDetail.SendPostcode" disabled></div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-8">@Multi.Phonenumber</label>
                    <div class="col-md-16"><input type="text" class="form-control input-sm" ng-model="orderDetail.SendPhonenumber" disabled></div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-8">@Multi.Email</label>
                    <div class="col-md-16"><input type="text" class="form-control input-sm" ng-model="orderDetail.SendEmail" disabled></div>
                </div>
            </div>
            <!--pharse 2-->
            <div class="col-md-12 col-sm-12 col-xs-24 form-horizontal formMin" ng-init="editReceiptAddress = false">
                <label class="height-minnest">@Multi.Address_for_receipt</label><br />
                <div class="form-group">
                    <label for="" class="col-md-8">@Multi.Receipts_issued_in_the_name</label>
                    <div class="col-md-16"><input type="text" class="form-control input-sm" ng-model="orderDetail.ReceiptFullname" disabled></div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-8">@Multi.Address</label>
                    <div class="col-md-16"><input type="text" class="form-control input-sm" ng-model="orderDetail.ReceiptAddress" disabled></div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-8">@Multi.Province</label>
                    <div class="col-md-16"><input type="text" class="form-control input-sm" ng-model="orderDetail.ReceiptProvince" disabled></div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-8">@Multi.Country</label>
                    <div class="col-md-16"><input type="text" class="form-control input-sm" ng-model="orderDetail.ReceiptCountry" disabled></div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-8">@Multi.Postcode</label>
                    <div class="col-md-16"><input type="text" class="form-control input-sm" ng-model="orderDetail.ReceiptPostcode" disabled></div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-8">@Multi.Phonenumber</label>
                    <div class="col-md-16"><input type="text" class="form-control input-sm" ng-model="orderDetail.ReceiptPhonenumber" disabled></div>
                </div>
                <div class="form-group">
                    <label for="" class="col-md-8">@Multi.Email</label>
                    <div class="col-md-16"><input type="text" class="form-control input-sm" ng-model="orderDetail.ReceiptEmail" disabled></div>
                </div>
            </div>
            <!--button-->
            <div class="col-md-6 col-sm-6 col-xs-12 pagination-right paragraph-extra">
                @Html.ActionLink(Multi._Button_BackToHome, "ProductOrderHistory", null, new { @class = "btn btn-git-default btn-block" })
            </div>
        </div>
    </div>

    @section BodySection_Core_scripts {
    }
    @section BodySection_Page_level_scripts {

    }
    @section BodySection_Template_scripts {

    }
}