@using Git_system.MultiResources
@model Git_system.Models.Form.Frontend_ResetPassword
@{
    //Config
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/_LayoutFrontend.cshtml";
    //End Config

    <div class="row">
        <div class="col-sm-16 col-sm-offset-4 col-md-12 col-md-offset-6">
            <div class="row">
                @using (Html.BeginForm(new { }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal col-sm-24">
                        <div class="text-center ">
                            <h4>@Multi.Password_Resetting</h4>
                        </div>
                        @{
                    bool CheckToken = Convert.ToBoolean(ViewBag.CheckToken);
                        }
                        @if (CheckToken)
                        {

                            <div class="form-group hidden">
                                <label class="form-label col-sm-6 col-md-8">Email</label>
                                <div class="col-sm-18 col-md-16">
                                    @Html.TextBoxFor(model => model.User, new { @class = "form-control input-sm", @readonly = "true" })
                                </div>
                            </div>

                            <div class="form-group hidden">
                                <label class="form-label col-sm-6 col-md-8">Email</label>
                                <div class="col-sm-18 col-md-16">
                                    @Html.TextBoxFor(model => model.Token, new { @class = "form-control input-sm", @readonly = "true" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label col-sm-6 col-md-8">@Multi.Membership_Password</label>
                                <div class="col-sm-18 col-md-16">
                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control input-sm", @placeholder = "Password", @autofocus = true })
                                    @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label col-sm-6 col-md-8">@Multi.Membership_Password_Re</label>
                                <div class="col-sm-18 col-md-16">
                                    @Html.PasswordFor(model => model.Confirm_Password, new { @class = "form-control input-sm", @placeholder = "Password" })
                                    @Html.ValidationMessageFor(model => model.Confirm_Password, null, new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-18 col-md-16 col-sm-offset-6 col-md-offset-8">
                                    <div class="row">
                                        <div class="col-sm-24 col-xs-24">
                                            <input class="btn btn-git-default btn-block" type="submit" value="@Multi.Change_password" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-sm-24 text-center">
                                <p>@Multi.Timeout_resetpasswordMessage </p>
                                <p><a href="@Url.Action("SendResetPassword","Home",null)">@Multi.Fill_in_the_form</a></p>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>

}