@using Git_system.MultiResources
@model Git_system.Models.Form.Frontend_SendResetPassword

@{
    //Config
    ViewBag.Title = Multi._TitleWeb_SendResetPassword;
    Layout = "~/Views/_LayoutFrontend.cshtml";
    //End Config
    @section BodySection_Core_styles {

        <link href="~/Content/bootstrap-datepicker/datepicker3.min.css" rel="stylesheet" />
    }
    <div class="row">
        <div class="text-center col-sm-8 col-sm-offset-8">
            <h4 class="text-git-style text-git-style-bold">@Multi._SendResetPasswordString1</h4>
            <h5 class="text-git-style-bold">@Multi._SendResetPasswordString2</h5>
        </div>

        <div class="col-sm-16 col-sm-offset-4 col-md-12 col-md-offset-6">
            <div class="row">
                @using (Html.BeginForm(new { }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal col-sm-14 col-sm-offset-5">

                        <div class="form-group">
                            <label class="form-label col-sm-6 col-md-8">@Multi.Membership_Email</label>
                            <div class="col-sm-18 col-md-16">
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-sm", @autofocus = true })
                                @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label col-sm-6 col-md-8">@Multi.Membership_BirthDay</label>
                            <div class="col-sm-18 col-md-16">
                                <div class='input-group date'>
                                    @if (Multi.__LanguageType == "TH")
                                    {@Html.TextBoxFor(model => model.BirthDay, "{0:dd/MM/yyyy}", new { @class = "form-control input-sm", @data_date_format = "dd/mm/yyyy", @data_provide = "datepicker", @data_date_language = "th-th" }) }
                                    else
                                    {@Html.TextBoxFor(model => model.BirthDay, "{0:dd/MM/yyyy}", new { @class = "form-control input-sm", @data_date_format = "dd/mm/yyyy", @data_provide = "datepicker" }) }
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                @Html.ValidationMessageFor(model => model.BirthDay, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label col-sm-6 col-md-8">@Multi.Membership_Question</label>
                            <div class="col-sm-18 col-md-16">
                                @Html.DropDownList("QuestionListId", null, null, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(model => model.QuestionListId, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label col-sm-6 col-md-8">@Multi.Membership_Answer</label>
                            <div class="col-sm-18 col-md-16">
                                @Html.TextBoxFor(model => model.Answer, new { @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(model => model.Answer, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        @Html.ValidationMessage("aLLerror", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="col-sm-24 col-xs-24">
                                <input class="btn btn-git-default btn-block" type="submit" value="@Multi._Button_SendResetPasswordLink" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    @section BodySection_Page_level_scripts {
        @Scripts.Render("~/Scripts/bootstrap-datepicker_and_bootstrap-datepicker-thai")
    }
    @section BodySection_Template_scripts {
        <script>
            $(function () {
                $('.datepicker').datepicker({
                    autoclose: true,
                    todayHighlight: true
                });
            });
        </script>
        <script>
            $("#BirthDay").bind("focus", function () {
                $(this).blur();
            });
        </script>
    }
}